.container{

    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
}

.searchdiv{
/* border: 1px solid transparent; */
    width: 60%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 15px;
}

.searchbtn{
    margin-left: 10px;
    
}

.filerDiv{
    width: 30%;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 15px;
    /* border: 1px solid blue; */
  
}

select{
    padding: 10px 20px;
    /* margin-left: 15px; */
}